
<div class="PageBlock" style="margin-top:-4%">

    <div class="login-text font-calibri">
        <div class="login-text font-calibri">
            <div style="margin:20px;padding-left:20%">
                <div class="form-inline">
                    <div class="form-group" style="width:40%">
                        <strong>Name :</strong>
                    </div>
                    <div class="form-group" style="width:60%">
                        <input ng-model="data.name" type="text" placeholder="Enter Name" class="input-text" />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group" style="width:40%">
                        <strong>Sex :</strong>
                    </div>
                    <div class="form-group" style="width:60%">
                        <input ng-model="data.sex" type="text" placeholder="Enter Sex" class="input-text" /><br /><br />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group" style="width:40%">
                        <strong>Date Of Births :</strong>
                    </div>
                    <div class="form-group" style="width:60%">
                        <input ng-model="data.date_of_birth" type="date" class="input-text" /><br /><br />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group" style="width:40%">
                        <strong>Bio :</strong>
                    </div>
                    <div class="form-group" style="width:60%">
                        <input ng-model="data.bio" type="text" placeholder="Enter Bio" class="input-text" /><br /><br />
                    </div>
                </div>
                <div style="margin-left:-10%">
                    <button class="btn btn-primary" ng-click="Submit()">Submit not</button>
                </div>
            </div>
        </div>
    </div>
</div>